
#btnSave{
    border-radius: 100px;
}

#titleSettings{
    width: 100%;
    margin-bottom: 5%;
}

#bodySettings{
    background-image: url("../img/Fondo_Configuración.gif");
    background-position: center center;
    background-repeat: no-repeat;    
    background-attachment: fixed;   
    background-size: cover;
    background-color: #33a3ff;
    font-family: 'Josefin Sans';
}


/************************************************************************************/
/*          cambiar productos                 */

#btnAcept{    
    margin-right: 5%;
}

#btnCancel{
    margin-left: 5%;
    }

#pInfoCanje{
    font-size: 18px; 
    text-align: justify;
}

#ExchangeCode{
    width: 80%;    
    overflow: auto;
    font-weight: 700;
    color: #0080ff;
    font-size: 18px;
    margin-bottom: 5%;
    border-radius: 10px;
}

#divExchangeCode{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

#titleChangeProducts{
    margin-top: 3%;
    width: 100%;
}

#bodyChangeProduct{
    background-image: url("../img/Fondo_CambiarP.gif");
    background-position: center center;
    background-repeat: no-repeat;    
    background-attachment: fixed;   
    background-size: cover;
    background-color: #f9cd41;
    font-family: 'Josefin Sans';
}

/************************************************************************************/
/*          mis canjes                  */

#thHeadCantidad{
    border-right-style: solid; 
    border-right-color: #cccccc;
}

#thHeadProductos{
    text-align: center;
}
#divChangeProducts{
    margin-top: 5%;
}

#bChangeProducts{
    width: 50%;    
}

.tdCantidad{
    border-right-style: solid;
    border-right-color: #cccccc;
    width: 20%;    
    text-align: center;
}

#tableProduct{
    border: 3px solid #f47745;
    border-radius: 10px;
    background-color: white;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

#titleMisCanjes{
    width: 100%;
}

.bodyMisCanjes{
    background-image: url("../img/Fondo_Canjes.gif");
    background-position: center center;
    background-repeat: no-repeat;    
    background-attachment: fixed;   
    background-size: cover;
    background-color: #f9cd41;
    font-family: 'Josefin Sans';
}



/*************************************************************************/
/*      Menú                */
.botonesMenu{    
    height: 75px;
    margin-top: 5%;
    display: block;   
}

#titleMenu{
    width: 100%;
    margin-top: 10%;
    margin-bottom: -5%
}

#bodyManu{
    background-image: url("../img/Fondo_Menu.gif");
    background-position: center center;
    background-repeat: no-repeat;    
    background-attachment: fixed;   
    background-size: cover;
    background-color: white;
    font-family: 'Josefin Sans';
}
#messageQR{
    width: 60%;
    margin-top: 5%;
    border-radius: 10px;
}

#divButtonsModal{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#fondoModal{   
    background-color: #feda33;
    font-family: 'Josefin Sans';
    border-radius: 20px;
    border: 5px solid #fbad19;

}


/*******************************************************************************/
/*    Register      */
#imgReturn{
    margin-top: 10px;
    margin-left: 10px;
}

#btnAceptRegister{    
    width: 40%;    
}

#titleRegister{
    width: 100%;  
    margin-bottom: 5%; 
}

#bodyRegister{
    background-image: url("../img/Fondo_Registro.gif");
    background-position: center center;
    background-repeat: no-repeat;    
    background-attachment: fixed;   
    background-size: cover;
    background-color: #6cdd87;
    font-family: 'Josefin Sans';
}


/*************************************************************************/
/* index login */
#divFooter{
    width: 100%;
    position: fixed;
    margin-top: 5%; 
    bottom: 0;
}

#userName{
    margin-top: 10%;
    display: inline;
    width: 50%
}

#userPassword{
    display: inline;
    margin-top: 5%;
    width: 50%;
}

#imgIconUser{
    display: inline;
    margin-right: 5%;

}

#imgIconPaswd{
    display: inline;
    margin-right: 5%;
}

#imgLogin{    
    width: 30%;
}

#btnRegister{
    display: block;
    margin-top: 5%;
    width: 40%;       
}

#btnSuccess{    
    margin-top: 10%;
    width: 50%;      
}

#loginTitle{
    text-align: center;
    margin-top: 5%;    
}

#bodyLogin{    
    background-image: url("../img/Fondo_Inicio.gif");
    background-position: center center;
    background-repeat: no-repeat;    
    background-attachment: fixed;   
    background-size: cover;
    background-color: #3672ea;
    font-family: 'Josefin Sans';
}
/*************************************************************************/