


/*****************************************************************************
    cambiar premios   */


.divPuntosPremio{  
    font-size: 14px;  
    color: white;
    display: inline-block;
    position: relative;
    float: right;    
    width: 50px;
    height: 50px;
    margin-right: 5px;   
    margin-top: 5px;
    background-color: #1b75bc;
    border-radius: 50px;    
}

.puntosPremio{
    margin-top: 9px;
}

.premio{
    position: relative;
    color: #1b75bc;
    font-size: 150%;
    font-weight: 800;
    margin-left: 5%;
    margin-top: 10px;
    background-color: white;
    border-radius: 15px;
    width: 90%;
    height: 15%;
    border: 1px solid #1b75bc;
}

#divPuntosTendero{  
    font-size: 16px;  
    color: white;
    display: inline-block;
    position: relative;
    float: right;    
    width: 70px;
    height: 70px;
    margin-right: 5px;   
    margin-top: 5px;
    background-color: #1b75bc;
    border-radius: 50px;    
    animation: animationPts 2s infinite;
}

@keyframes animationPts {
    0% { transform: scale(1.0); }
    50% { transform: scale(0.8); }
    100% { transform: scale(1.0); }
}

#puntosTendero{
    margin-top: 15px;
}
/********************************************
      configuracion                              */
#btnSave{
    border-radius: 100px;
}

#titleSettings{
    width: 100%;
    margin-bottom: 5%;
}

#bodySettings{
    background-image: url("../img/Fondo_Configuración.gif");
    background-position: center center;
    background-repeat: no-repeat;    
    background-attachment: fixed;   
    background-size: cover;
    background-color: #33a3ff;
    font-family: 'Josefin Sans';
}


/************************************************************************************/
/*          cambiar productos                 */

#btnAcept{    
    margin-right: 5%;
}

#btnCancel{
    margin-left: 5%;
    }

#pInfoCanje{
    font-size: 18px; 
    text-align: justify;
}

#ExchangeCode{
    text-align: center;
    width: 80%;    
    overflow: auto;
    font-weight: 700;
    color: #0080ff;
    font-size: 18px;
    margin-bottom: 5%;
    border-radius: 10px;
}

#divExchangeCode{
    width: 90%;
    margin-left: 5%;
    margin-top: 0%;
}

#titleChangeProducts{
    margin-top: 3%;
    width: 100%;
}

#bodyChangeProduct{
    background-image: url("../img/Fondo_CambiarP.gif");
    background-position: center center;
    background-repeat: no-repeat;    
    background-attachment: fixed;   
    background-size: cover;
    background-color: #f9cd41;
    font-family: 'Josefin Sans';
}

/************************************************************************************/
/*          mis canjes                  */

#thHeadCantidad{
    border-right-style: solid; 
    border-right-color: #cccccc;
}

#thHeadProductos{
    text-align: center;
}
#divChangeProducts{
    margin-top: 5%;
}

#bChangeProducts{
    width: 50%;    
}

.tdCantidad{
    border-right-style: solid;
    border-right-color: #cccccc;
    width: 20%;    
    text-align: center;
}

#tableProduct{
    border: 3px solid #f47745;
    border-radius: 10px;
    background-color: white;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

#titleMisCanjes{
    width: 100%;
}

.bodyMisCanjes{
    background-image: url("../img/Fondo_Canjes.gif");
    background-position: center center;
    background-repeat: no-repeat;    
    background-attachment: fixed;
    background-size: cover;
    background-color: #f9cd41;
    font-family: 'Josefin Sans';
}



/*************************************************************************/
/*      Menú                */
.botonesMenu{ 
    width: 60%;    
    height: auto;
    margin-top: 5%;
    display: block;   
}

#titleMenu{
    width: 100%;
    margin-top: 10%;
    margin-bottom: -5%
}

#bodyManu{
    background-image: url("../img/Fondo_Menu.gif");
    background-position: center center;
    background-repeat: no-repeat;    
    background-attachment: fixed;   
    background-size: cover;
    background-color: white;
    font-family: 'Josefin Sans';
}
#messageQR{
    width: 60%;
    margin-top: 5%;
    border-radius: 10px;
}

#divButtonsModal{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#fondoModal{   
    background-color: #feda33;
    font-family: 'Josefin Sans';
    border-radius: 20px;
    border: 5px solid #fbad19;

}


/*******************************************************************************/
/*    Register      */
#imgReturn{
    margin-top: 10px;
    margin-left: 10px;
}

#btnAceptRegister{    
    width: 40%;    
}

#titleRegister{
    width: 100%;  
    margin-bottom: 5%; 
}

#bodyRegister{
    background-image: url("../img/Fondo_Registro.gif");
    background-position: center center;
    background-repeat: no-repeat;    
    background-attachment: fixed;   
    background-size: cover;
    background-color: #6cdd87;
    font-family: 'Josefin Sans';
}


/*************************************************************************/
/* index login */
#divFooter{
    width: 100%;
    position: fixed;
    margin-top: 5%; 
    bottom: 0;
}

#userName{
    margin-top: 10%;
    display: inline;
    width: 50%
}

#userPassword{
    display: inline;
    margin-top: 5%;
    width: 50%;
}

#imgIconUser{
    display: inline;
    margin-right: 5%;

}

#imgIconPaswd{
    display: inline;
    margin-right: 5%;
}

#imgLogin{    
    width: 30%;
}

#btnRegister{
    display: block;
    margin-top: 5%;
    width: 40%;       
}

#btnSuccess{    
    margin-top: 10%;
    width: 50%;      
}

#loginTitle{
    text-align: center;
    margin-top: 5%;    
}

#bodyLogin{    
    background-image: url("../img/Fondo_Inicio.gif");
    background-position: center center;
    background-repeat: no-repeat;    
    background-attachment: fixed;   
    background-size: cover;
    background-color: #3672ea;
    font-family: 'Josefin Sans';
}
/*************************************************************************/